{% extends 'base.html.twig' %}
    {% block body %}
        {{ parent() }}

        <div class="row">
            <div class="col-sm-5">
                <div class="checkers-preview">
                    {% include 'CheckersBundle:Checkers:preview.html.twig' %}
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{{ path('checkers.create') }}" class="create btn btn-lg btn-primary">Create New Game</a>
                        <button type="submit" class="play btn btn-lg btn-primary ">Play!</button>
                    </div>
                </div>
            </div>

            {{ render(controller('CheckersBundle:Checkers:sidebarModule')) }}

            {#{% include 'CheckersBundle:Checkers:sidebar.html.twig' %}#}
        </div>
        {% include 'CheckersBundle:checkers:modals/friends-list.modal.html.twig' %}
        {% include 'CheckersBundle:checkers:modals/join-game.modal.html.twig' %}
        {% include 'CheckersBundle:checkers:modals/add-friend.modal.html.twig' %}
        {% include 'CheckersBundle:checkers:modals/accept-invite.modal.html.twig' %}

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        '@CheckersBundle/Resources/public/js/checkers/checkers.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    {% endblock %}